
:root {
  --primery-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --header-footer-color: #2f303a;
  --heading-color: #ffffff;
}

* {
  box-sizing: border-box;
}

*, ::before,
*, ::after {
   box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin:0;
}

img {
  display: block;
}

body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid red;
  
}

/* logo */

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;

  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
 
}

.first-part-logo {
  color: var(--accent-color);
}

/* site nav */

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.item-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 93px;
}

.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*contacts*/

.contacts {
  display: flex;
  padding: 0;
  margin-left: auto;
}

.item-contact {
  display: block;
}

.contacts .item-contact + .item-contact {
  margin-left: 50px;
}

.contact-link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .contact-link:hover,
.contacts .contact-link:focus {
  color: var(--accent-color);
}

/*order-service*/

.order-service {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--header-footer-color);
  text-align: center;
}

.text-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center; 
  text-transform: uppercase;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

/*section-facilities*/

.title-two {
  display: none;
}

.section-facilities {
  padding-top: 94px;
  padding-bottom: 94px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  
}

.section-facilities li {
  display: block;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.list-item {
  width: 270px;
}

.title-three {
  margin-bottom: 10px;

  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

/*section-we-do*/

.title-we-do {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-img {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 94px;

}

.list-item-img {
  display: block;
}

/*section-team*/

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #F5F4FA;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  
}

.title-section-team {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-team {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.list-item-team {
  display: block;

  text-align: center;
}

.basement-foto {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #FFFFFF;
}
.team-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
 
  color: #ffffff;
  background-color: var(--header-footer-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
 
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--heading-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

}

.first-part {
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-weight: 400;
}

.contacts-footer{
  margin: 0;
  padding: 0;
}

.list-item-contact:not(:last-child){
  margin-bottom: 9px;
}

.list-item-contact {
    display: block;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts-footer .contact-footer:hover,
.contacts-footer .contact-footer:focus {
  color: #2196f3;
}

/*portfolio-content*/

.page-nav{
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}

.item-button {
  display: block;
}

.item-button:not(:last-child) {
  margin-right: 8px;
}

.button-nav {
  padding: 6px 22px;

  background-color: #f5f4fa;
  font-family: inherit;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.page-nav .button-link:hover,
.page-nav .button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* our projects */

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;

  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.content-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.item-projects {
  display: block;
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-projects:nth-child(3n) {
  margin-right: 0;
}

.item-projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-img {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.projects {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
